/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.open-bets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.bet .card-header h3 {
  margin-bottom: 0
}
.bet .description {
  font-size: 1.2rem;
}
.bet .expiration, 
.bet .offered-by {
  margin-bottom: 0
}
.bet .expiration {
  font-size: .9rem;
  color: var(--bs-light-text-emphasis);
}
.place-bet {
  text-decoration: none;
  color: white;
}
.place-bet .card-footer {
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, var(--bs-success) 50%, var(--bs-teal) 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all .5s ease;
}
.place-bet .card-footer:hover {
  background-position:right bottom;
}
.bet .card-footer .icon {
  float: right;
}
